.auth_container {
  font-family: var(--font-geist-sans);
  display: flex;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  .auth_img {
    position: relative;
    width: 50vw; /* Prend 50% de la largeur de l'écran */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    overflow: hidden; /* Empêche le débordement de l'image */
  }

  .auth_content {
    // background-color: red;
    flex-grow: 1; /* La section de contenu occupe le reste de l'écran */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 42px;
      font-weight: 700;
    }
    .auth_logo {
      // background-color: red;
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;
      h1 {
        font-size: 19px;
        font-weight: bold;
      }
    }
    .auth_form {
      // background-color: purple;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      .auth_form_field {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 10%;
        margin-bottom: 20px;
        label {
          margin-bottom: 10px;
        }
        input {
          height: 50px;
          width: 375px;
          border-radius: 4px;
          border: 1px solid black;
        }
      }
      .auth_form_field:last-child {
        margin-bottom: 0;
      }
    }
  }
}
